<!-- layout of ejs -->
<%- include("partials/header") -%>


<h1>  Home </h1>
<p> this is our first paragrpah  <%= firstParagraph %> </p>



  <%  posts.forEach(function(post){ %>
  <%  const subString = (post.content).substring (0, 100); %>
    <h1>   <%=  (post.title)  %> </h1>
    <p>    <%= (subString) %> <a href="post/ <%- post.title -%>">Read More</a> </p>
  <% }); %>


<%- include("partials/footer") -%>
